In [1]:
#@title Importing modules
import pandas as pd
from sklearn.cluster import KMeans
import altair as alt
import numpy as np

In [2]:
#@title link to dataset
file_url = 'https://raw.githubusercontent.com/fenago/DSBook/main/Chapter%205/Mall_Customers.csv'

In [3]:
#@title LOading dataset
data = pd.read_csv(file_url, \
                 usecols=['Age', \
                          'Annual Income (k$)', \
'Spending Score (1-100)'])

In [4]:
data.head()

   Age  Annual Income (k$)  Spending Score (1-100)
0   19                  15                      39
1   21                  15                      81
2   20                  16                       6
3   23                  16                      77
4   31                  17                      40

In [5]:
#@title Assigning the columns to a new variable
X = data[['Age', \
        'Annual Income (k$)']]

In [6]:
#@title Now, calculate the minimum and maximum using the min() and max() values
age_min = data['Age'].min()
age_max = data['Age'].max()
annual_inc_min = data['Annual Income (k$)'].min()
annual_inc_max = data['Annual Income (k$)']\
                        .max()

In [7]:
#@title Print the values of these four variables
print(age_min)
print(age_max)
print(annual_inc_min)
print(annual_inc_max)

18
70
15
137

In [8]:
#@title Now import the random package and use the seed() method to set a seed of 
42
import random
random.seed(42)