In [1]:
# Clustering is an unsupervised algorithm
# What if you don't have what you want to predict in your dataset?
# K Means
# What do the data in clusters have in common?
#@title importing modules
import pandas as pd
from sklearn.cluster import KMeans

In [2]:
file_url = 'https://raw.githubusercontent.com/fenago/DSBook/main/Chapter%205/Mall_Customers.csv'

In [3]:
#@title loading dataset
data = pd.read_csv(file_url, \
                 usecols=['Age', \
                          'Annual Income (k$)', \
'Spending Score (1-100)'])

In [4]:
data.head()

   Age  Annual Income (k$)  Spending Score (1-100)
0   19                  15                      39
1   21                  15                      81
2   20                  16                       6
3   23                  16                      77
4   31                  17                      40

In [6]:
#@title Instantiate k-means with a random state of 42 and save it into a variable called kmeans
kmeans = KMeans(random_state=42)

In [7]:
#@title Now feed k-means with our training data
X = data[['Age', 'Annual Income (k$)']]

In [8]:
#@title Now fit kmeans with this training data:
kmeans.fit(X)

KMeans(random_state=42)

In [9]:
#@title See which cluster each data point belongs to by using the .predict() method:
y_preds = kmeans.predict(X)
y_preds

array([3, 3, 3, 3, 3, 3, 3, 3, 6, 3, 6, 3, 6, 3, 3, 3, 3, 3, 6, 3, 3, 3,
       6, 3, 6, 3, 6, 3, 6, 3, 6, 3, 6, 0, 6, 0, 6, 0, 0, 0, 6, 0, 6, 0,
       6, 0, 6, 0, 0, 0, 6, 0, 0, 6, 6, 6, 6, 2, 0, 6, 2, 0, 2, 6, 2, 0,
       6, 2, 0, 0, 2, 6, 2, 2, 2, 0, 7, 7, 0, 7, 2, 7, 2, 7, 0, 7, 2, 5,
       7, 7, 2, 5, 7, 7, 5, 5, 7, 5, 7, 5, 5, 7, 2, 5, 7, 5, 2, 7, 2, 2,
       2, 5, 7, 5, 5, 5, 2, 7, 7, 7, 5, 7, 7, 7, 5, 5, 7, 7, 7, 7, 7, 7,
       5, 5, 5, 5, 7, 5, 5, 5, 7, 5, 5, 5, 5, 5, 7, 5, 5, 5, 7, 7, 7, 5,
       7, 5, 5, 5, 5, 5, 7, 5, 5, 5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 4, 4, 4, 4, 4,
       4, 4], dtype=int32)

In [10]:
#@title Now, add these predictions into the original DataFrame
data['cluster'] = y_preds
data.head()

   Age  Annual Income (k$)  Spending Score (1-100)  cluster
0   19                  15                      39        3
1   21                  15                      81        3
2   20                  16                       6        3
3   23                  16                      77        3
4   31                  17                      40        3

In [11]:
import pandas as pd
data.pivot_table(values=["Age","Annual Income (k$)"],index="cluster")

               Age  Annual Income (k$)
cluster
0        25.714286           42.523810
1        38.214286           93.000000
2        64.631579           54.684211
3        27.434783           21.000000
4        36.500000          124.000000
5        27.000000           71.025000
6        51.800000           35.280000
7        45.388889           66.055556