In [1]:
#@title Importing modules
import pandas as pd
import numpy as np

In [11]:
!pip install altair

WARNING: The directory '/home/jovyan/.cache/pip' or its parent directory is not owned or is not writable by the current user. The cache has been disabled. Check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
Collecting altair
  Downloading altair-4.2.0-py3-none-any.whl (812 kB)
     |████████████████████████████████| 812 kB 14.7 MB/s eta 0:00:01
Requirement already satisfied: pandas>=0.18 in /opt/conda/lib/python3.8/site-packages (from altair) (1.1.4)
Requirement already satisfied: jsonschema>=3.0 in /opt/conda/lib/python3.8/site-packages (from altair) (3.2.0)
Requirement already satisfied: numpy in /opt/conda/lib/python3.8/site-packages (from altair) (1.18.5)
Requirement already satisfied: jinja2 in /opt/conda/lib/python3.8/site-packages (from altair) (2.11.2)
Requirement already satisfied: entrypoints in /opt/conda/lib/python3.8/site-packages (from altair) (0.3)
Requirement already satisfied: toolz in /opt/conda/lib/python3.8/site-packages (from altair) (0.11.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas>=0.18->altair) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/lib/python3.8/site-packages (from pandas>=0.18->altair) (2020.4)
Requirement already satisfied: six>=1.11.0 in /opt/conda/lib/python3.8/site-packages (from jsonschema>=3.0->altair) (1.15.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /opt/conda/lib/python3.8/site-packages (from jsonschema>=3.0->altair) (0.17.3)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.8/site-packages (from jsonschema>=3.0->altair) (49.6.0.post20201009)
Requirement already satisfied: attrs>=17.4.0 in /opt/conda/lib/python3.8/site-packages (from jsonschema>=3.0->altair) (20.2.0)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/lib/python3.8/site-packages (from jinja2->altair) (1.1.1)
Installing collected packages: altair
Successfully installed altair-4.2.0

In [2]:
#@title Data_url
file_url = 'https://raw.githubusercontent.com/fenago/DSBook/main/Chapter%205/Mall_Customers.csv'

In [3]:
#@title Loading data
data = pd.read_csv(file_url, \
                 usecols=['Age', \
                          'Annual Income (k$)', \
'Spending Score (1-100)'])

In [4]:
#@title Extracting the columns
X = data[['Age', \
        'Annual Income (k$)']]

In [7]:
#@title fitting  kmeans with this new variable using randomstate = 8
from sklearn.cluster import KMeans
kmeans = KMeans(random_state=8)
kmeans.fit(X)

KMeans(random_state=8)

In [12]:
#@title Using the predict method from the sklearn package, predict the clustering assignment from the input variable, (X)
y_preds = kmeans.predict(X)
y_preds[-10:]

array([7, 7, 2, 2, 2, 2, 2, 2, 2, 2], dtype=int32)

In [13]:
#@title Save the predicted clusters back to the DataFrame by creating a new column called 'cluster
data['cluster'] = y_preds
data.tail(10)

     Age  Annual Income (k$)  Spending Score (1-100)  cluster
190   34                 103                      23        7
191   32                 103                      69        7
192   33                 113                       8        2
193   38                 113                      91        2
194   47                 120                      16        2
195   35                 120                      79        2
196   45                 126                      28        2
197   32                 126                      74        2
198   32                 137                      18        2
199   30                 137                      83        2

In [14]:
#@title Generate a pivot table with the averages of the two columns for each cluster value using the pivot_table method from the pandas package
data.pivot_table(values=['Age', \
                       'Annual Income (k$)'], \
               index='cluster', aggfunc=np.mean)

               Age  Annual Income (k$)
cluster
0        46.000000           65.575758
1        27.729730           27.216216
2        36.500000          124.000000
3        52.291667           35.541667
4        23.217391           57.521739
5        30.837838           78.702703
6        64.631579           54.684211
7        40.842105           95.894737

In [16]:
#@title  plotting the clusters using an interactive scatter plot
import altair as alt
scatter_plot = alt.Chart(data).mark_circle()